.is-palindrome{
    color: #0065d4
}

.not-palindrome{
    color: #CC1922;
}

.invisible{
    display: none;
}

h1{
    font-size: 2rem;
}

em{
    font-size: 1.25rem;
}

main {
    max-width: 75%;
    margin: auto; /*horizontally center the element*/
}

header {
    border-bottom: 1px solid #AFAFAF;
}

footer{
    border-top: 1px dashed #AFAFAF;
}

button {
    background-color: #51c0ff;
    border: none;
    padding: 11px 18px;
    color: white;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 5px;
    cursor: pointer;
}

textarea{
    border: 2px solid #615849;
}

#errorDiv{
    background-color: #CC1922;
    color: white;
    width: auto;
}