<header>
    <h1>Home Page</h1>
</header>

<main>
    <form method="POST" action="login">
        <div>
            <label for="username">User Name</label>
            <input id="username" name="username" />
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" type="password" name="password" />
        </div>
        <button type="submit">Login</button>
    </form>
    {{#if err}} 
        <div class="err">
            <label>{{err}}</label>
        </div>
    {{/if}}
</main>


<footer>This site &copy; <em>Ben-Jen Cheng</em> (ID: 10420448)</footer>