<header>
    <h1>Palindrome Checker</h1>
</header>
<main>
    <form id="submitForm" method="post">
        <div>
            <label for="input">Please input a string to test if it is a <b>palindrome</b></label>
        </div>
        <div>
            <textarea id="input"></textarea>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>

    </form>
    <div id="resultDiv" class='invisible'>
        <label>The Results:</label>
        <ul id="checkedItems"></ul>
    </div>
    <div id="errorDiv" class="invisible">
    </div>
</main>
<footer>This site &copy; <em>Ben-Jen Cheng</em> (ID: 10420448)</footer>